.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
  margin-bottom: 1rem;
  padding: 0;
}
